/*
 John15: 4
 "Abide in Me, and I in you. As the branch cannot bear fruit of itself unless it abides in the vine, so neither can you unless you abide in Me"
*/
h1{
  text-align: center;
}
body{ 
  background-image: url(https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_1280.jpg);
  background-size: cover;
  text-align: center;
  padding: auto;

}
#title {
  color: orangered;
}
#description{
  font-family: impact;
  font-style: italic;
  color: orangered;
  text-align: center;
}
input{
  text-align: centered;
  padding: auto;
  margin: auto;
}
.credentials {
  overflow: hidden;
  background-color: #25547a;
  width: 75%;
  height: auto;
  margin: auto;
  padding: 20px;
  text-align: centered;
  box-shadow: 3px 3px 3px 3px #155e99
  
}
.content {
  background-color: rgb(228, 232, 242, 30%);
  margin: 15px;
  padding: 5px;
  border-radius: 20px;
}
form {
  overflow: hidden;
  font-family: sans-serif;
}